@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 2px 2px #63b55a;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */

    @apply bg-gray-400 dark:bg-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700;

    border-radius: 0.5rem;
    border: 2.5px solid;
    @apply border-[3px] border-gray-400 dark:border-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .scrollbar::-webkit-scrollbar-corner {
    @apply bg-gray-400 dark:bg-gray-800;
  }
}

.svgfill {
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%); */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.react-pdf__Page__canvas {
  margin: 0 auto 2rem;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0.8rem;
}
